body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f8f8f8;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4caf50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

p {
    color: #777;
}

/* Custom styles for the entire card */
.card.custom-card.custom-card-size {
    background-color: rgb(84, 159, 233);
    margin-bottom: 20px;
    border: 1px solid rgb(222, 226, 230);
}

/* Custom styles for card title and text */
.card.custom-card.custom-card-size .card-title,
.card.custom-card.custom-card-size .card-text {
    color: #ffffff; /* Set text color */
}

/* Custom styles for substats */
.card.custom-card.custom-card-size .list-group-item {
    background-color: rgb(240, 240, 240); /* Set background color for substats */
    border: 1px solid rgb(200, 200, 200); /* Set border color for substats */
}

.levelbox {
    background-color: white;
    color: black; /* Example: Change color of "HI" span */
    border-radius: 5px; /* Rounded corners */
    padding: 5px 5px; /* Add padding */
}

.star {
    color: gold;
}

.list-group-item {
    font-size: small;
}

.artifact-card-top {
    padding: 20px;
    background-size: cover;
    background-position: center;
}

.artifact-card-bottom{
    padding: 20px;
}
