<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/validation.js') }}"></script>
    <title>{% block title %}Welcome{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Artifact Manager</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('main.welcome') }}">Welcome</a></li>
                <li><a href="{{ url_for('main.view_artifacts') }}">View Artifacts</a></li>
                <li><a href="{{ url_for('main.add_artifact_page') }}">Add Artifact</a></li>
            </ul>
        </nav>
    </header>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
