{% extends 'base.html' %}

{% block title %}View Artifacts{% endblock %}

{% block content %}
    <h2>View Artifacts</h2>
    <form id="delete-all-form" method="POST" action="{{ url_for('main.delete_all_artifacts') }}">
        <button type="submit" onclick="confirmDeleteArtifacts()">Delete All Artifacts</button>
    </form>

    <script>
        function confirmDeleteArtifacts() {
            if (confirm("Are you sure you want to delete all artifacts?")) {
                document.getElementById("delete-all-form").submit();
            }
        }
    </script>
    
    {% if artifacts %}
    <!-- <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Set</th>
                <th>Slot</th>
                <th>Level</th>
                <th>Rarity</th>
                <th>Main Stat</th>
                <th>Location</th>
                <th>Lock</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for artifact in artifacts %}
                <tr>
                    <td>{{ artifact.id }}</td>
                    <td>{{ artifact.set_key }}</td>
                    <td>{{ artifact.slot_key }}</td>
                    <td>{{ artifact.level }}</td>
                    <td>{{ artifact.rarity }}</td>
                    <td>{{ artifact.main_stat_key }}</td>
                    <td>{{ artifact.location }}</td>
                    <td>{{ artifact.lock}}</td>
                    <td>
                        <form method="POST" action="{{ url_for('main.delete_artifact', artifact_id=artifact.id) }}">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table> -->
    <br>
 
    {% set artifact_slot_key_labels = {
        "flower": "Flower of Life",
        "plume": "Plume of Death",
        "sands": "Sands of Eon",
        "goblet": "Goblet of Eonothem",
        "circlet": "Circlet of Logos"
    } %}
    <!-- Bootstrap Card Row -->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
        {% for artifact in artifacts %}
        <!-- Bootstrap Card Column -->
        <div class="col mb-4">
            <!-- Bootstrap Card -->
            <div class="card custom-card custom-card-size">
                <div class="card-body">
                    <!-- Top section for artifact info with background image -->
                    <div class="artifact-card-top" style="background-image: url('path_to_background_image.jpg');">
                        <h5 class="card-title custom-card-text">{{ format_artifact_set_key(artifact.set_key) }}</h5>
                        <p class="card-text custom-card-text">{{ artifact_slot_key_labels.get(artifact.slot_key) }}</p>
                        {% for i in range(artifact.rarity) %}
                            <span class="star">&#9733;</span>
                        {% endfor %}
                        <p class="card-text custom-card-text" style="padding-top: 10px;">Main Stat: {{ artifact.main_stat_key }}</p>
                    </div>
                    <!-- Bottom section for substats without background image -->
                    <div class="artifact-card-top-bottom">
                        <!-- Display Substats -->
                        <ul class="list-group">
                            {% for substat in artifact.substats %}
                                <li class="list-group-item custom-card-text">
                                    {{ format_artifact_substat_text(substat) }}
                                </li>           
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Bootstrap Card -->
        </div>
        <!-- End Bootstrap Card Column -->
        {% endfor %}
    </div>
    <!-- End Bootstrap Card Row -->

    {% else %}
        <p>No artifacts available.</p>
    {% endif %}
{% endblock %}
